
@{
    ViewData["Title"] = "ExamInsert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Sınav Ekle</h3>
<br />
<div>
    <form class="form-group" method="post">
        <label>Sınav Adı</label>
        <input name="Name" class="form-control" style="width:30%;" />
        <br />
        <button class=" btn btn-success">Sınavı Ekle</button>
    </form>
</div>

